<br>
<br>
<form class="col-lg-6 offset-lg-2">
  <div style="font-weight: bold; font-size: larger;">Liquidacion de impuesto vehicular</div>
  <br>
    <div class="form-group">
      <label for="exampleInputEmail1">Placa</label>
      <input type="text"[(ngModel)]="placaPapa" name="placaPapa" class="form-control" id="" placeholder="Placa">
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Marca</label>
      <input type="text"[(ngModel)]="marca" name="marca" class="form-control" id="exampleInputPassword1" placeholder="Marca">
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Modelo</label>
      <input type="text"[(ngModel)]="modelo" name="email" class="form-control" id="exampleInputPassword1" placeholder="Modelo">
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Año</label>
      <input type="text"[(ngModel)]="anoPapa" name="anoPapa" class="form-control" id="exampleInputPassword1" placeholder="Año">
    </div>
  
    <br>
    
  </form>
  <div class="container">


    <app-calcular 
        [ano]="anoPapa"
        (total) = "calculoHijo($event)"
        ></app-calcular>

</div>
<div>
  <div class="mx-auto" style="width: 720px;">
    <p>Placa: {{placaPapa}}</p>
    <p>Ano: {{anoPapa}}</p>
    <p>Vr. a pagar: {{totalPapa}} </p>
  </div>
</div>


